{% extends 'base.html' %}
{% block title %}Market{% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'main/css/market.css' %}">
<div class="main-block">
    <div class="settings-block">
        <div class="cost">
            <h2 class="now-cost">{{cost}} ₽</h2>
            {% if percent_def > 0 %}
                <p class="now-percent" style="color: rgb(24, 163, 9);">+{{impact}}₽ (+{{percent_def}}%)</p>
            {% else %}
                <p class="now-percent" style="color: rgb(171, 0, 0);">{{impact}}₽ ({{percent_def}}%)</p>
            {% endif %}
        </div>
    </div>
    <div class="names-panel">
        <div class="name">
            Название
        </div>
        <div class="name">
            Цена покупки
        </div>
        <div class="name">
            Действующая цена
        </div>
        <div class="name">
            Процент прибыли
        </div>
        <div class="name">
            Прибыль
        </div>
    </div>
    <div class="block-items">
        {% for item in descriptions %}
        <div class="item-line">
            <div class="item">
                {{item.name}}
            </div>
            <div class="item">
                {{item.price}}₽, <a href="{% url 'page_update' item.name item.price %}"> ({{item.value}})</a>
            </div>
            <div class="item">
                {{item.now_price}}₽
            </div>
            <div class="item">
                {{item.percent}}%
            </div>
            <div class="item">
                {{item.impact}}₽
            </div>
        </div>
        {% endfor %}
    </div>
    <span class="error">{{error}}</span>
</div>
{% endblock %}