{% extends 'base.html' %}
{% block title %}Market{% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'main/css/market.css' %}">
<div class="main-block">
    <div class="settings-block">
        
    </div>
    <div class="names-panel">
        <div class="name">
            Название
        </div>
        <div class="name">
            Цена покупки
        </div>
        <div class="name">
            Действующая цена
        </div>
        <div class="name">
            Процент прибыли
        </div>
        <div class="name">
            Прибыль
        </div>
    </div>
    <div class="block-items">
        {% for item in descriptions %}
        <div class="item-line">
            <div class="item">
                {% if item.reg == False %}
                    <a href="{% url 'page_update' item.assetid %}"><button title="Данного предмета больше нет в вашем инвентаре, если вы утратили его, не подразумевав конкретно данную инвестиционную позицию, то нажав вы перенесёте данные на другой соответственный предмет"
                    type="button" class="btn btn-danger change">!!!</button></a>
                {% endif %}
                {{item.name}}
            </div>
            <div class="item">
                {{item.price}}
            </div>
            <div class="item">
                {{item.now_price}}
            </div>
            <div class="item">
                {{item.percent}}%
            </div>
            <div class="item">
                {{item.impact}}
            </div>
        </div>
        {% endfor %}
    </div>
    <span class="error">{{error}}</span>
</div>
{% endblock %}