{% extends 'base.html' %}
{% block title %}New item{% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'main/css/new_item.css' %}">

<div class="new-item-main-block">
    <div class="name">{{name}}</div>
    <form action="{% url 'add_item' assetid name %}">
        <div class="input-group mb-3">
            <span class="input-group-text">₽</span>
            <span class="input-group-text">0.00</span>
            <input type="text" class="form-control" name="price" aria-label="Dollar amount (with dot and two decimal places)">
        </div>
        <p><span class="error" role="alert">{{error}}</span></p>
        <button class="btn btn-success">Добавить</button>
    </form>
</div>
{% endblock %}