{% extends 'base.html' %}
{% block title %}New item{% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'main/css/new_item.css' %}">

<div class="new-item-main-block">
    <div class="alert alert-success" role="alert">
        Выберите количество актуальное количество предметов для:
        {{name}}, купленных за {{price}}
    </div>
    <form method="get" action="{% url 'update' name price %}">
        <div class="col">
            <input type="text" class="form-control" name="value" placeholder="До {{counter}}" aria-label="First name">
        </div>
        <p><span class="error" role="alert">{{error}}</span></p>
        <button class="btn btn-warning">Добавить</button>
    </form>
</div>
{% endblock %}